.where-section {
  header {
    &.major {
      align-self: center;
    }
  }
  .content {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'row');
    @include vendor('align-items', 'center');
    
    margin-bottom: 1em;

    div.text {
      margin-left: 2em;
    }

    .icon {
      &.major {
        margin: 0;
      }
    }
    
  }
}