/* Footer */

	#footer {
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
		@include padding(5em, 5em);

		.content {
			@include vendor('display', 'flex');
			@include vendor('flex-direction', 'row');
			@include vendor('justify-content', 'space-around');
			@include vendor('align-items', 'center');
			
			.row {
				@include vendor('display', 'flex');
				@include vendor('flex-direction', 'column');

				margin-left: 2em;
				
				.colm {
					@include vendor('display', 'flex');
					@include vendor('align-items', 'center');
					@include vendor('flex-direction', 'row');

					margin-bottom: 1em;

					.text {
						@include vendor('display', 'flex');
						@include vendor('flex-direction', 'column');
						margin-left: 1em;
					}
				}
			}

			dt {
				margin-bottom: 1em;
			}

			.logoend {
				@include vendor('transition', (
					'opacity 1.25s ease',
					'transform 0.5s ease'
				));
				@include vendor('transition-delay', '0s');
				// display: block;
				margin: 0 0 (_size(element-margin) * 0.75) 0;

				img {
					display: inline-block;
					margin: 0 0 0 0;
					width: 18em;
				}
			}
		}

		.copyright {
			width: 100%;
			font-size: 0.8em;
			text-align: center;
		}

		@include breakpoint(large) {
			@include padding(4em, 4em);
		}

		@include breakpoint(medium) {
			@include padding(4em, 3em);
			display: block;
			margin: 0 0 (_size(element-margin) * 1.5) 0;
			width: 100%;

			> * {
				width: 100%;
				margin-left: 0;
				margin-bottom: (_size(element-margin) * 1.5);
			}

			.copyright {
				text-align: left;
			}
		}

		@include breakpoint(small) {
			@include padding(3em, 2em);

			.content {
				@include vendor('flex-direction', 'column');
			}
		}

		@include breakpoint(xsmall) {
			@include padding(3em, 1.5em);
		}

		@include breakpoint(xsmall) {
			@include padding(2.5em, 1em);
		}
	}